@import 'normalize.css';
@import 'p5-vis.css';

/* Temporary modification of css for active buttons */

button:active {
  background-color: #b0b0b0;
}

@media (prefers-color-scheme: dark) {
  button:hover {
    background-color: #79afae;
  }

  button:active {
    background-color: #5c9998;
  }
}
